.product {
    width: 300px;
    height: 440px;
    border: 1px solid #95A0A7;
    border-radius: 8px;
    position: relative;
}

.product img {
    width: 286px;
    height: 286px;
    border-radius: 8px;
    margin: 7px;
}
#btn-cart{
    width: 100%;
    position: absolute;
    bottom: -16px;
    display: flex;
    align-items: center;
    justify-content: center;
}